$primary-color: #000000;
$secondary-color: #F0B90B;

$gray-100: #454545;
$gray-200: #3C3C3C;
$gray-300: #262626;
$gray-400: #1C1C1C;

$text-white: #FFFFFF;

$rate-success: #4DA14F;
$rate-negative: #E54545;
$rate-medium: #FF8800;

