@mixin ibm-plex-sans($font-weight: 300, $font-style: 'normal', $font-size: 14px) {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: $font-weight;
  font-style: $font-style;
  font-size: $font-size;
}

@mixin inter-font($font-weight: 300, $font-style: 'normal', $font-size: 14px) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: $font-weight;
  font-style: $font-style;
  font-size: $font-size;
}