@import './styles/colors.scss';
@import './styles/fonts.scss';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $gray-100;
  color: #FFFFFF
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

option:hover {
  background-color: $primary-color !important;
}

.swiper-pagination {
  text-align: center;
  padding-top: 10px;
  position: absolute;
  bottom: 20px;
  z-index: 999;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: $gray-200;
  border-radius: 50%;
  margin: 0 5px;
  display: inline-block;
  transition: background-color 0.3s, opacity 0.3s;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: $secondary-color;
  width: 30px;
  border-radius: 10px;
}

.CircularProgressbar .CircularProgressbar-text {
  font-family: "Inter", sans-serif;
}